.callback-screen {
    width: 1280px;
    height: 720px;
    margin: auto;
    position: relative;

    background-image: url('../../assets/image/second-screen.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.callback-screen__banner {
    position: absolute;
    width: 380px;
    height: 100%;
    padding: 50px;
    background-color: #86D3F4;

    top: 0;
    left: 0;
}

.callback-screen__banner * {
    margin-bottom: 13px;
}

.banner-second-screen__title {
    font-size: 24px;
    font-weight: 600;
}

.banner-second-screen__input {
    width: 290px;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2px;
    outline: none;
    border: none;
    background-color: #86D3F4;
}

.banner-second-screen__input::placeholder {
    color: black;
}

.banner-second-screen__input_err {
    color: red;
}

.banner-second-screen__descr {
    font-weight: 600;
}

.approval {
    width: 290px;
    margin: auto;
    padding: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.approval__descr {
    text-align: start;
}

.approval__square {
    position: relative;
    min-width: 40px;
    min-height: 40px;
    margin-right: 10px;
    border: 2px black solid;
    transition: .2s;
}

.approval__square_check::before {
    content: '\2713';
    position: absolute;
    font-size: 40px;
    bottom: -5px;
    right: 2px;
}

.approval__err {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: red;
}

.approval__square_focus {
    box-shadow: 0px 1px 5px 1px rgba(35, 60, 80, 1);
}

.banner-second-screen__btn {
    width: 290px;
}